<html>
    <head>
        <title>StoreFront Api</title>
        <% include snippets/head %>
    </head>

    <body>
        <h1>StoreFront Api</h1>
        <p>/items/types to view all item types</p>
        <p>/items/types/:id to view item type by id</p>
        <p>/items/sizes to view all item sizes</p>
        <p>/items/sizes/:id to view all item sizes for the item type with the given id</p>
        <p>/items/optiongroups to view all item option groups</p>
        <p>/items/optiongroups/:id to view all item option groups for the item type with the given id</p>
        <p>/items/options to view all item options</p>
        <p>/items/options/:id to view all item options for the item option group with the given id</p>
    </body>
</html>
